/* UNIVERSAL */
:root {
    --blue1: #2f5b8a;
}

body {
    margin: 0;
    text-align: center;
}

.content {
    width: 75%;
    display: block;
    margin: 0 auto;
}

button {
    background-color: var(--blue1);
    color: white;
    border: none;
    padding: 10px;
}

.page-title {
    border-bottom: solid;
    border-color: var(--blue1);
    padding: 10px;
}

/* HEADER */
header {
    background-color: var(--blue1);
    color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0% 10% 0% 10%;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    width: 180px;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* HOME PAGE */
/* HERO SECTION */
#hero {
    position: relative;
}

#hero div {
    position: absolute;
    top: 35%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.501);
    padding: 60px;
}

#hero img {
    width: 100%;
}

/* SERVICES SECTION */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-content {
    display: flex;
    flex-direction: row;
}

.services-content div {
    width: 250px;
    padding: 25px;
}

/* TESTIMONIALS CAROUSEL */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    max-width: 1050px;
}

.testimonials-carousel {
    display: flex;
    overflow: hidden;
    
}

.testimonial-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
}

.testimonial {
    flex: 0 0 280px;
    padding: 15px;
    text-align: center;
}

.carousel-button {
    color: black;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.carousel-button:hover {
    color: #555;
}

/* SERVICES PAGE */
.services div {
    padding: 5px;
}

.services-bottom {
    padding: 10px;
}

/* GAURDIANS PAGE */
#gaurdians-data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* TESTIMONIALS PAGE */
#testimonials {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonials {
    text-align: start;
    width: 400px;
    padding: 20px;
}

.testimonials-service {
    font-style: italic;
}

.gaurdians {
    width: 400px;
}

/* QUOTE PAGE */
/* TARIFFS */
.tariffs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.tariffs:nth-child(even) {
    flex-direction: row-reverse;
}

.tariffs-text {
    width: 300px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue1);
    color: white;
    padding: 0px 0px 0px 50px;
}

.footer-banner {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
}

.footer-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
}

.footer-section {
    width: 800px;
    padding: 0px 50px 0px 25px;
}

.socials {
    font-size: 2rem;
    color: white;
    display: flex;
    gap: 20px;
    width: 300px;
    margin-bottom: 15px;
    align-content: center;
}

footer i:hover, footer a:hover {
    color: grey;
}

footer a {
    color: white;
    text-decoration: none;
}

.copyright {
    align-self: center;
    padding-top: 15px;
}